{{> head}}
{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>Mis Amores</h1>
        <p>
            Los amores de papa, son tres lidas niñas que papa quiere mucho.
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/mis_amores.jpg" class="img-thumbnail">
    </div>
</div>


{{> footer}}